body {
  font-family: "Roboto";
  background-color: #FBF3D5;
  color: #1f1f09;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-left: 100px;
}

.place-order-button:hover {
  background-color:#daa17b
}

.cancel-button:hover {
  background-color: #dad9d9;
}

.place-order-button {
  display: inline;
  background-color:#EFBC9B;
  height: 48px;
  width: 150px;
  border-radius: 3px;
  border: none;
  color: #f4f4f4;
  font-family: "Roboto";
  font-size: 15px;
  margin-right: 80px;
  cursor: pointer;
}

.cancel-button {
  display: inline;
  background-color:#EEEEEE;
  height: 48px;
  width: 150px;
  border-radius: 3px;
  border: none;
  color: #A9A9A9;
  font-family: "Roboto";
  font-size: 15px;
  cursor: pointer;
}

.dropdown-container {
  margin-left: 140px;
}

.header, 
.footer {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #D6DAC8;
  margin-bottom: 10px;
  width: 80%;
  height: 250px;
}

.footer {
  margin: 50px 0 50px 0;
  height: 80px;
}

.logo-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-pic {
  width: 150px;
  height: 150px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #778d87;
}

.title h1 {
  padding-top: 10px;
  margin: 0;
}

.title h4 {
  margin: 0;
}

.title p {
  margin-bottom: 10px;
}

button,
li,
a {
  all: unset;
  box-sizing: border-box;
}

.form #dropdown {
  --border-radius: 6px;
  --shadow-color: 60deg 13% 61%;
  max-width: 220px;
  width: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);
  position: relative;
}

.form .dropdown-toggle,
.form .menu-item,
.form .submenu-item {
  width: 100%;
  padding: 12px 20px;
  cursor: pointer;
}

:is(.menu-item, .submenu-item):first-child {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

:is(.menu-item, .submenu-item):last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

:is(.menu-item, .submenu-item):hover {
  background-color: #EFBC9B;
}

.dropdown-toggle,
.submenu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle > span {
  color: #778d87;
}

i {
  color: #db8400;
  transition: 0.25s ease;
}

.dropdown-toggle.open > i {
  rotate: 180deg;
}

.dropdown {
  position: relative;
}

.menu,
.submenu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: var(--border-radius);
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.menu {
  width: 100%;
  translate: 0 -12px;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  /*transform: translateY(0); */
  translate: 0 12px;
}

.submenu {
  width: max-content;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  translate: -12px 0;
  /*
  transform: translate(-12px, 0);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;*/
}

.submenu.open {
  visibility: visible;
  opacity: 1;
  translate: 8px 0;
  /*transform: translate(0);*/
}

.menu-item:hover > .submenu-toggle + .submenu {
  visibility: visible;
  opacity: 1;
  translate: 8px 0;
}

.form.expanded {
  height: auto; 
}

.form
{
  background-color: #f8f8f86d;
  border: 1px solid #F8F3EA;
  border-radius: 3px;
  color: #778d87;

  width: 80%;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: height 0.3s ease;
  margin-top: 20px;
}

.form-row
{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type = 'text'],
.form-row input[type = 'email']
{
  background-color: #FFFFFF;
  border: 1px solid #F8F3EA;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label
{
  margin-bottom: 15px;
}

.form-row input[type = 'text']:invalid,
.form-row input[type = 'email']:invalid
{
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}

.radio-form-row {
  border: none;
  margin-bottom: 40px;
  margin-top: 20px;
}

.radio-form-row legend {
  margin-bottom: 15px;
}

.radio-form-row .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.radio-form-row input[type='radio'] {
  margin-top: 2px;
}

.radio-form-row .radio-label,
.radio-form-row input[type='radio'] {
  float:left;
}

.radio-form-row-2 {
  border: none;
  margin-bottom: 40px;
}

.radio-form-row-2 legend {
  margin-bottom: 15px;
}

.radio-form-row-2 .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.radio-form-row-2 input[type='radio'] {
  margin-top: 2px;
}

.radio-form-row-2 .radio-label,
.radio-form-row-2 input[type='radio'] {
  float:left;
}

.form-row select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  -webkit-apperance: none;
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #F8F3EA;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row .instructions {
  color: #778d87;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-row .checkbox-label {
  margin-bottom: 0;
}


@media only screen and (min-width: 700px)
{
  .form 
  {
    width: 600px;
  }
  .form-row{
    flex-direction: row;
    align-items: flex-start; /* to avoid stretching */
    margin-bottom: 20px;
    height: initial;
  }
  .form-row input[type = 'text'],
  .form-row input[type = 'email'],
  .form-row select,
  .form-row textarea
  {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .radio-form-row {
    margin-bottom: 10px;
  }
  .radio-form-row legend {
    width: 120px;
    text-align: right;
    padding-right: 20px;
  }
  .radio-form-row legend {
    float: left;
  }
  .radio-form-row-2 {
    margin-bottom: 10px;
  }
  .radio-form-row-2 legend {
    width: 120px;
    text-align: right;
    padding-right: 20px;
  }
  .radio-form-row-2 legend {
    float: left;
  }
  .form-row .instructions {
    margin-left: 120px;
  }
  .form-row .checkbox-label {
    margin-left: 120px;
    width: auto;
  }
}